<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <header class="main-header">
        <h1 class="title-principal">Mercado Liebre</h1>
        <div class="main-header-top-bar">
            <div class="main-logo">
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg"
                    alt="Logo de Mercado Liebre"></a>
            </div>
            <form action="/" method="get">
                <div class="div-form-buscar-productos">
                    <label><input class="buscar-productos" value="" type="text" placeholder="Buscar productos..."><i class='fa-solid fa-magnifying-glass'></i></label>
                </div>
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <a href="/register">Comprá en cuotas con tarjetas de crédito</a>
            </h2>
        </div>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a ></li>
                <li><a href="#">Tiendas Oficiales</a ></li>
                <li><a href="#">Vender</a ></li>
                <li><a href="#">Ayuda</a ></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-credit-card"></i></a ></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a ></li>
            </ul>
        </nav>
        <a href="/login" class="hamburguer-buttom"><i class="fa-solid fa-bars"></i></a>
    </header>
    <form action="/" method="post" class="form">
    <h2 class="form_title">Inicia Sesion</h2>
    <p class="form_paragraph">
      ¿Aún no tienes una cuenta?
      <a href="/register" class="form_link">Entra aquí</a>
    </p>

    <div class="form_conteiner">
      <div class="form_group">
        <label for="user" class="form_label">Usuario:</label>
        <input type="text" id="user" class="form_input" placeholder=" " />
      </div>
      <div class="form_group">
        <label for="password" class="form_label">Contraseña:</label>
        <input
          type="password"
          id="password"
          class="form_input"
          placeholder=" "
        />
      </div>
        <div class="form_group">
        <div class="div_checkbox">
          <label for="true" class="form_checkbox">Recordar Usuario</label>
          <input type="checkbox" name="true" />
        </div>
      </div>
      <div class="form_group">
          <input type="submit" class="form_submit" value="Entrar" />
      </div>
    </div>
   
  </form>
  <footer>
    <ul>
        <li>
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span></li>
        <li>
            <i class="fa-solid fa-gift"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span>
        </li>
        <li>
            <i class="fa-solid fa-user-shield"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</span>
        </li>
    </ul>
    <h5>Copyright © 1999-2020 Mercado Liebre S.R.L.</h5>
</footer>

</body>