* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.title-principal {
  display: none;
}

.main-header {
  position: fixed;
  top: 0;
  background-color: #eac926;
  padding: 20px;
  width: 100%;
}

.main-header-top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-header-top-bar img {
  display: flex;
  justify-content: flex-start;
}

.main-header-top-bar form {
  display: flex;
  justify-content: flex-end;
}

.main-logo {
  width: 50%;
}

.div-form-buscar-productos {
  background-color: white;
  border: solid #eac926 2px;
  border-radius: 25px;
  width: 90%;
  height: 40px;
  position: relative;
  padding: 7px 10px;
}

.div-form-buscar-productos i {
  position: absolute;
  right: 0;
  color: lightgrey;
  padding-right: 5px;
  padding-top: 2px;
}

.buscar-productos {
  outline: none;
  border: none;
  width: 90%;
}

.copy-header {
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 1em;
  
}

.main-navbar {
  display: none;
}

.hamburguer-buttom {
  background-color: #2e78ea;
  color: white;
  display: block;
  max-width: 44px;
  padding: 10px 0;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.main-main {
  margin-top: 51%;
  background-color: #ebebeb;
  padding-bottom: 0.5em;
}

.main-banner{
  width: 100%;
}

.main-banner img {
  width: 100%;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
  
}

.description {
  display: none;
  margin-top: 20px;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 550ms;
}



main section article i:hover{
  transform: rotate(-90deg);

}


main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.hr-left {
  width: 16em;
  margin-left: 0%;
  border-color: #ebebeb;
  display: inline-block;
  opacity: 0.3;
}

.hr-right {
  width: 2.3em;
  margin-right: 0%;
  border-color: #ebebeb;
  display: inline-block;
  opacity: 0.3;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 2em 1.1em 0em 1.1em;
}

footer li {
  margin-bottom: 2em;
}

footer li h4 {
  margin-top: 0.5em;
  font-size: 22px;
}

footer ul i {
  color: #1259c3;
  font-size: 30px;
}

footer h5 {
  display: flex;
  margin: 8px;
  text-align: left;
  justify-content: flex-start;
  color: #c3c6c8;
}

@media (min-width: 768px) {
  .main-header {
    position: fixed;
    top: 0;
    padding: 0.5em;
  }
  .main-header-top-bar {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .main-logo {
    width: 10em;
    padding: 0 0.5em;
  }
  .div-form-buscar-productos {
    width: 16em;
    height: 34px;
  }

 
  .copy-header {
    font-size: 2vw;
    margin: 0;
  }

  .hamburguer-buttom {
    display: none;
  }

  .main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.6em;
    font-size: 2.3vw;
  }

  .main-navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .left-navbar {
    padding-left: 1.4em;
  }

  .main-navbar ul li {
    padding-right: 0.5em;
  }

  .main-navbar a {
    color: black;
    text-decoration: none;
  }

  .main-navbar i {
    margin-left: 0.3em;
  }

  .main-main {
    margin-top: 2%;
    width: 100%;
    padding-top: 3.96em;
  }

  main section article .description {
    display: block;
    opacity: 0;
    transition: all 450ms;
  }

  main section article .description:hover{
    opacity: 1;
  }

  main section article {
    transition: all 450ms;
  }
  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }

  .hr-left {
    width: 8.5em;
    padding: 0.1em 0;
  }

  .hr-right {
    width: 2.1em;
    padding: 0.1em 0;
  }

  footer ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 1em 1em 0em;
  }

  footer ul i {
    font-size: 30px;
  }

  footer li {
    margin: 0em 0.7em;
  }

  footer li h4 {
    margin-top: 0.5em;
    font-size: 1em;
  }

  footer li p {
    font-size: 0.7em;
  }

  footer h5 {
    padding-left: 1.5em;
  }
}

@media (min-width: 1440px) {
  .main-header-top-bar {
    justify-content: space-between;
  }

  .copy-header {
    font-size: 1.5em;
  }

  .main-logo {
    width: 13em;
    padding: 0 0.5em;
  }

  .div-form-buscar-productos {
    width: 35em;
  }

  .main-navbar {
    font-size: 1.2em;
  }

  main section div.products article {
    width: 22%;
  }

  main section article .description {
    display: block;
    opacity: 0;
    transition: all 450ms;
  }

  main section article .description:hover{
    opacity: 1;
  }

  main section article {
    transition: all 450ms;
  }
  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .hr-left {
    width: 15em;
  }

  footer {
    justify-content: center;
    height: 15em;
  }

  footer ul {
    width: 65%;
    margin: 1em 20em 0em;
  }

  footer li h4 {
    font-size: 1.5em;
  }

  footer li p {
    font-size: 1em;
  }

  footer h5 {
    padding-left: 0;
  }
}
